<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communication Helpdesk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Create Room</h1>
        <h3>{{ message }}</h3>
        <form method="post">
            <label>Room Name:</label>
            <input type="text" name="room_name">
            <br>
            <label>Members:</label>
            <input type="text" name="members">
            <br>
            <button type="button submit" class="btn btn-success">Create Room</button>
        </form>
    </div>
</body>
</html>