<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communication Helpdesk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" type= "text/css" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <div class="container">
        <form method="post" action="/login">
            <h3>Helpdesk Chat Login</h3>
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
            <button type="button submit" class="btn btn-secondary" id="login-btn">Login</button>
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a>.</p>
            <h3>{{ message }}</h3>
        </form> 
    </div>
</body>
</html>